body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 72px;
    color: #FFF ;
    background-color: #281B2D;
}

h1 {
    margin: 0;
}

.subHeading {
    font-size: 48px;
    color: #FCD801;
    background-color: #281B2D;
    border-bottom: 10px solid #00C54C;
}